volumes:
  wordpress:
    driver: local
    driver_opts:
      type: none
      device: /home/miafonso/data/wordpress
      o: bind

  mariadb:
    driver: local
    driver_opts:
      type: none
      device: /home/miafonso/data/mariadb
      o: bind
networks:
  inception:
    driver: bridge
